@font-face {
  font-family: 'Futura';
  src: url('/futura/Futura Md BT Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('/futura/Futura Md BT Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* stop page from scrolling like a website */ 
  background: #a9cce3; /* blue sky */
  font-family: 'Futura';
  font-weight: 400;
}

h1, h2, h3 {
  font-weight: 900;
}
